<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Carpe Diem | Eliminar Cuenta </title>
</head>
<body>
    <h1> ¿Seguro que quieres eliminar tu cuenta? </h1>
    <a href="../Controllers/UserController.php?action=confirm_delete"><button> Si </button></a>
    <a href="UserController.php?action=inicio"><button> Cancelar </button></a>
</body>
</html>