/*
    REGLAS PARA LOS ESTILOS DE CARPE DIEM.

    Selector {
        Posicionamiento, En Este Orden: Primero Position y luego Top, left, right, etc y luego el display.
        Dimensiones, Primero Ancho y luego Alto. Luego los Min y Max.
        Espaciado: Primero Margin y Luego Padding.
        Estilos (Color, Fondo, Borde, Text-Align, Fuente, Opacidad, Etc. Estos si pueden ser en cualquier orden).

        Indice.

        Animacion (Primero Transition, Luego Transform, Luego Animation)
    }

    NOTA: Si hay menos de 5 Propiedades por un selector, NO DEJAR ESPACIO.
          Caso contrario, separar por categorias con un espaciado.
*/



/* --------------------------------------------- Fuentes. --------------------------------------------- */
@import url(./Fuentes/ZFuentes.css);
/* * {
    font-family: 'Caveat Brush', cursive;
} */

/* ----------------------------------------- Paleta De Colores ----------------------------------------- */
:root {
    --color1: #06283D;
    --color2: #1363DF;
    --color3: #47B5FF;
    --color4: #DFF6FF;

    --dkmode1: #0c0b0b;
    --dkmode2: #121212;
    --dkmode3: #444444;
    --dkmode4: #EDEDED;
}



/* ----------------------------------------- Box-Sizing. ----------------------------------------- */
* { 
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: 'Montserrat Medium', cursive;
}

body {
    overflow-x: hidden;
    background: linear-gradient(to bottom, var(--color4), var(--color3));
}



/* --- OUTLINE --- */
/* * {outline: auto;} */
/* main * {outline: auto;} */



/* -------------------------------------------- ESTILOS PERSONALIZADOS -------------------------------------------- */
/* -------------------------- Subcategoria: Nav-bar -------------------------- */
.cabeza {
    background: linear-gradient(to left, var(--color2), var(--color3));
    z-index: 10;
}

.botones {
    width: 375px;
    height: 80%;
    margin-right: 10px;
}

.switch {
    margin-right: 75px;
}

.btn-uno {
    margin-right: 5px;
}



/* -------------------------- Subcategoria: Menu desplegable -------------------------- */

.contenido-menu {
    position: absolute;
    top: 49.5px;
    right: 0;

    width: 50%;
    height: 90vh;
    min-height: 500px;

    padding-right: 15px;

    background-color: var(--color3);
    opacity: 0.8;
    text-align: right;
    overflow: hidden;

    z-index: -1;

    transition: all 5s;
    /* transform: translateX(30%); */
}

.contenido-menu ul {
    list-style: none;
}

.contenido-menu > button {
    margin: 0;
    height: fit-content;
}

.contenido-menu a {
    margin-right: 10%;
    margin: 0;

    text-decoration: none;
    color: #ffffff;
    opacity: 1;
    font-size: larger;
    font-style: bold;

}

.contenido-menu a:active {color: #ffffff; opacity: 1;}
.contenido-menu a:visited {color: #ffffff; opacity: 1;}
.contenido-menu a:link {color: #ffffff; opacity: 1;}

.salto {
    color: #ffffff;
    font-size: 0.313rem;
}



/* ---------------------------- Subcategoria: Botones de Inicio y Registro Ocultos ---------------------------------- */
.menu-boton-oculto {
    position: relative;
    right: 0;
    display: block;

    width: 100%;

    text-align: right;
    border: 0;
    font-size: larger;
    font-style: bold;
    background: none;
    color: #ffffff;
}


/* ----------------- Subcategoria: Banner -------------------- */
h1,
h4 {
    position: relative;
    color: var(--color4);
    /* transition: all 1s; */
}

.titulo-subtitulo-banner {
    position: absolute;
    top: 50%;
    display: block;
    width: 60%;
}



/* ----------------------- Subcategoria: Logos flotantes ---------------------------------- */
.sacar-derecha {
    position: absolute;
    top: 50%;
    right: 2px;

    max-width: 200px;

    opacity: 0;

    transition: all 0.55s;
    transform: translateX(30%);
}

.sacar {
    position: fixed;
    top: 50%;
    right: 2px;

    opacity: 1;

    z-index: 1;

    transition: all 0.55s;
    transform: none;
}



/* ----------------------------- Subcategoria: Herramientas --------------------------------- */
.herramientas > article {
    width: 95%;
    height: 70vh;
    margin: auto;
    border-radius: 12px;
}

.herramienta {
    background-color:#ffffff;
    overflow: auto;
}

.herramienta-img {
    /* position: relative; */

    width: 60%;
    height: auto;

    padding: 8px;
    border: 1px solid var(--color1);
}



/* ---------------------------- Subcategoria: Formularios ---------------------------------- */
.formularios > form > input {
    display: block;

    margin: 8px auto;

    outline: none;
    border: 1px outset var(--color4);

    transition: all .5s;
}

.formularios > form > input:focus {
    border-bottom: 1px outset var(--color3);
    border-right: 1px outset var(--color3);
}

.modal-footer > a {
    transition: .4s;
}

.modal-footer > a:hover {
    transform: scale(1.3);
}



/* ---------------------------- Subcategoria: Pie de página ---------------------------------- */
.footer-cd-f {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: var(--color2);
}

/* .footer-cd-f {
    background-color: var(--color2);
} */

a { text-decoration: none; }



/* -------------------------------------------- CONTENIDO IMPORTADO -------------------------------------------- */
/* -------------------------- Subcategoria: Modo Oscuro -------------------------- */
.contenido-switch {
    position: absolute;
    width: 70px;
    height: 100%;
}
.switch {
    --width-of-switch: 3.5em;
    --height-of-switch: 2em;
    /* Medidas de los iconos -- sun and moon */

    --size-of-icon: 1.4em;
    /* inline-padding del switch(? */
    --slider-offset: 0.3em;

    position: relative;
    top: 10%;

    width: var(--width-of-switch);
    height: var(--height-of-switch);
}

/* Ocultar la casilla de verificacion HTML por defecto */
.switch input {
    width: 0;
    height: 0;
    opacity: 0;
}

/* el slider */
.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: #f4f4f5;
    cursor: pointer;
    border-radius: 30px;

    transition: .4s;
}

.slider:before {
    height: var(--size-of-icon,1.4em);
    width: var(--size-of-icon,1.4em);
    left: var(--slider-offset,0.3em);

    position: absolute;
    top: 50%;

    content: "";
    border-radius: 20px;
    background: linear-gradient(40deg, var(--color2), var(--color3) 70%);

    transition: .4s;
    transform: translateY(-50%);
}

input:checked + .slider {
    background-color: #303136;
}

input:checked + .slider:before { /* Checket representa cualquier radio (radio, checkbox y options). */
    left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
    background: #303136;
    /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}



/* -------------------------- Subcategoria: Inicio y registro. -------------------------- */
.boton {
    /* Sombra de la caja */
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);

    position: relative;
    height: 100%;

    border: unset; /* Borde */
    border-radius: 35px;
    color: #212121;
    z-index: 1; /* El z-index es la capa que representa. Entre mas alto, mas al arriba esta (se sobrepone). */
    background: #e8e8e8;
    font-weight: 1000;
    font-size: 0.875rem;
    letter-spacing: 1px;
    overflow: hidden;

    /* Animacion */
    transition: all 250ms;
}

.boton::before { /* Primer hijo del elemento seleccionado. */
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);

    position: absolute;
    top: 0;
    left: 0;

    width: 0;
    height: 100%;

    content: ""; /* La propiedad "content" genera contenido de forma dinamica. */
    border-radius: 3px;
    background-color: var(--color3);
    z-index: -1;
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);

    transition: all 250ms
}

.boton:hover {
    color: #e8e8e8;
    border-radius: 5px;
    background: radial-gradient(to right, var(--color1), var(--color2));
}

.boton:hover::before {
    width: 100%;
}

.btn-uno, .btn-dos {
    /* Ancho */
    width: 150px;

    /* Alto */
    max-height: 100%;
}



/* -------------------------- Subcategoria: Banner -------------------------- */
.superbox {
    width: 99%;
    height: 92vh;
    max-width: 99%;
    max-height: 92vh;

    overflow: hidden;

    z-index: -1000;

    /* background-color: var(--color4); */
}

.box {
    position: relative;
    top: -50%;
    left: -60%;

    width: 50vh;
    max-width: 80vh;
    max-height: 50vh;

    background-color: var(--color3);

    /* z-index: -10; */

    /* transform: rotate(80deg); */
}

.wave {
    position: sticky; /* position: relative; */
    top: -30%; /* top: 0; */
    left: 0; /* left: 0; */

    width: 1500px;
    height: 1300px;

    /* margin-left: -150px; */
    /* margin-top: -250px; */

    /* opacity: .4; */
    background: var(--color3);
    border-radius: 43%;

    animation: drift 5s infinite linear;
    transform-origin: 50% 48%;
}

.wave.-three {
    position: relative;
    background-color: var(--color1);
    animation: drift 10500ms infinite linear;
}

.wave.-two {
    position: absolute;
    /* opacity: .1; */
    background: var(--color2);
    animation: drift 8000ms infinite linear;
}

.wave.-one {
    position: absolute;
    /* opacity: .2; */
    background: var(--color3);
    animation: drift 9000ms infinite linear;
}

.box:after {
    left: 0;
    top: 0;
    display: block;

    width: 100%;
    height: 100%;

    content: '';

    /* z-index: 11; */

    transform: translate3d(0, 0, 0);
}

@keyframes drift {
    from { transform: rotate(0deg); }
    from { transform: rotate(360deg); }
}

/*LOADING SPACE*/

.contain {
    -ms-flex-flow: row nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;

    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: #25a7d7;
    background: -webkit-linear-gradient(#25a7d7, #2962FF);
    background: linear-gradient(#25a7d7, #25a7d7);

    /* z-index: 1000; */

    animation-delay: 4s;
}

.icon {
    width: 100px;
    height: 100px;
    margin: 0 5px;
}

/*Animation*/
.icon:nth-child(2) img {-webkit-animation-delay: 0.2s;animation-delay: 0.2s}
.icon:nth-child(3) img {-webkit-animation-delay: 0.3s;animation-delay: 0.3s}
.icon:nth-child(4) img {-webkit-animation-delay: 0.4s;animation-delay: 0.4s}

.icon img {
    -webkit-animation: anim 5s ease infinite;
    -webkit-transform: scale(0,0) rotateZ(180deg);
    animation: anim 5s ease infinite;
    transform: scale(0,0) rotateZ(180deg);
}

@-webkit-keyframes anim{
    0% {
        -webkit-transform: scale(0,0) rotateZ(-90deg);
        transform: scale(0,0) rotateZ(-90deg);opacity:0
    }
    30% {
        -webkit-transform: scale(1,1) rotateZ(0deg);
        transform: scale(1,1) rotateZ(0deg);opacity:1
    }
    50% {
        -webkit-transform: scale(1,1) rotateZ(0deg);
        transform: scale(1,1) rotateZ(0deg);opacity:1
    }
    80% {
        -webkit-transform: scale(0,0) rotateZ(90deg);
        transform: scale(0,0) rotateZ(90deg);opacity:0
    }
}

@keyframes anim{
    0% {
        -webkit-transform: scale(0,0) rotateZ(-90deg);
        transform: scale(0,0) rotateZ(-90deg);opacity:0
    }
    30% {
        -webkit-transform: scale(1,1) rotateZ(0deg);
        transform: scale(1,1) rotateZ(0deg);opacity:1
    }
    50% {
        -webkit-transform: scale(1,1) rotateZ(0deg);
        transform: scale(1,1) rotateZ(0deg);opacity:1
    }
    80% {
        -webkit-transform: scale(0,0) rotateZ(90deg);
        transform: scale(0,0) rotateZ(90deg);opacity:0
    }
}



/* -------------------------------------------- DISEÑO RESPONSIVE -------------------------------------------- */
/* -------------------------- Subcategoria: nav-bar -------------------------- */
.oculto {
    position: absolute;
    right: 0;
    display: none;

    width: 45px;

    border-radius: 0px;
}

@media (max-width: 575px){
    .btn-oculto-head { display: none; }
    .oculto { display: block; }

    .contenido-switch {
        position: absolute;
        right: 50px;
    }
}

@media (max-width: 190px){
    .contenido-switch { display: none; }
}

@media (min-width:1400px){
    .cabeza-nav {
        margin-left: 0 !important;
    }

    .box { left: -30%; }
}



/* -------------------------- Subcategoria: Banner -------------------------- */
@media(min-width: 0px){
    .box { left: -10%}
}

@media(max-width: 3840px){
    h1,
    h4 { margin-left: 8px; }
    .box { left: -20%; top: 5%; }

}

@media(max-width: 2560px){
    .box { left: -17%; top: -5%;}
}

@media(max-width: 1920px){
    .box { left: -20%; top: -12%; }
}
/* A partir de 1920 de ancho (para arriba), se debe modificar la altura para evitar bugs en la pagina. */

@media(max-width: 1600px){
    .box { left: -30%; top: -50%; }
}

@media(max-width: 1440px){
    .box { left: -40%; }
}

@media(max-width: 1280px){
    .box { left: -60%; }
}

@media (max-width: 1000px){
    .box { left: -80%; }
}

@media (max-width: 900px){
    .box { left: -90%; }
}

@media (max-width: 800px){
    .box { left: -110%; }
}

@media (max-width: 745px){
    .box { left: -138%; }
}

@media (max-width: 650px){
    .box { left: -145%; }
}

@media (max-width: 630px){
    .box { left: -155%; }
}

@media (max-width: 600px){
    .box { left: -165%; }
}

@media (max-width: 580px){
    .box { left: -190%; }
}

@media (max-width: 540px){
    .box { left: -200%; }
}

@media (max-width: 530px){
    .box { left: -205%; }
}

@media (max-width: 500px){
    .box { left: -218%; }
}

@media (max-width: 485px){
    .box { left: -225%; }
}

@media (max-width: 470px){
    .box { left: -231%; }
}

@media (max-width: 462px){
    .box { left: -240%; }
}

@media (max-width: 450px){
    .box { left: -253%; }
}

@media (max-width: 435px){
    .box { left: -260%; }
}

@media (max-width: 425px){
    .box { left: -266%; }
}

@media (max-width: 410px){
    .box { left: -275%; }
}

@media (max-width: 405px){
    .box { left: -288%; }
}

@media (max-width: 388px){
    .box { left: -310%; }

    h1,
    h4 { font-size: larger; }
}

@media (max-width: 365px){
    .box { left: -335%; }
}

@media (max-width: 345px){
    .box { left: -350%; }
}

@media (max-width: 335px){
    .box { left: -365%; }
}

@media (max-width: 325px){
    .box { left: -383%; }
}

@media (max-width: 315px){
    .box { left: -395%; }
}

@media (max-width: 305px){
    .box { left: -405%; }
}

@media (max-width: 295px){
    .box { left: -415%; }
}

@media (max-width: 285px){
    .box { left: -430%; }
}

@media(max-width: 280px){
    .box { left: -200%; }
    .titulo-subtitulo-banner { width: 100%; }
}



/* -------------------------- Subcategoria: Herramientas -------------------------- */
@media (max-width: 500px){
    .herramientas > article {
        display: block;
        width: 98%;
        height: 100vh;
    }
}



/* ---------------------------- Subcategoria: Pie de página ---------------------------------- */
@media (max-width: 450px){
    .ul-pie-pagina {
        display: block;
        text-align: center;
        font-size: larger;
    }
}



/* -------------------------------------------- MODO OSCURO -------------------------------------------- */
/* ---------------------------- Subcategoria: Body---------------------------------- */
body.dark-mode{ background: linear-gradient(to bottom, var(--dkmode2), var(--dkmode3)) }

/* ---------------------------- Subcategoria: Barra de navegacion. ---------------------------------- */
.cabeza-dark { background: linear-gradient(to left, var(--color2), var(--color1)); }

/* ---------------------------- Subcategoria: Banner animado. ---------------------------------- */
.herramienta {
    background-color:#ffffff;
    overflow: auto;
}

.herramienta-img {
    /* position: relative; */

    width: 60%;
    height: auto;

    padding: 8px;
    border: 1px solid var(--color1);
}

/* ---------------------------- Subcategoria: Herramientas. ---------------------------------- */
