/* @import url(style.css); */
/* * {outline:auto;} */

/* ----------------------------------- Esitlos Del INDEX-USER ------------------------------------------------------- */
/*
    REGLAS PARA LOS ESTILOS DE CARPE DIEM.

    Selector {
        Posicionamiento, En Este Orden: Primero Position y luego Top, left, right, etc y luego el display.
        Dimensiones, Primero Ancho y luego Alto. Luego los Min y Max.
        Espaciado: Primero Margin y Luego Padding.
        Estilos (Color, Fondo, Borde, Text-Align, Fuente, Opacidad, Etc. Estos si pueden ser en cualquier orden).

        Indice.

        Animacion (Primero Transition, Luego Transform, Luego Animation)
    }

    NOTA: Si hay menos de 5 Propiedades por un selector, NO DEJAR ESPACIO.
          Caso contrario, separar por categorias con un espaciado.
*/



:root {
    --color1: #06283D;
    --color2: #1363DF;
    --color3: #47B5FF;
    --color4: #DFF6FF;

    --dkmode1: #0c0b0b;
    --dkmode2: #121212;
    --dkmode3: #444444;
    --dkmode4: #EDEDED;

    --dkalt: #212121;
}



/* ---------------------------- Subcategoria: Nav-bar ---------------------------------- */
.menu-user {
    position: absolute;
    top: 0;
    right: 0;
    display: block;

    width: 45px;

    border-radius: 0px;
}

.user-nav {
    position: relative;
    margin-right: -30px;
}

.icono {
    position: relative;
    top: 1.3px;
    margin-right: 9px;
}
.usuario {
    position: relative;
    max-width: 250px;
    margin-left: 25px;
}

.boton-mas {
    border: none;
    background: none;
    color: #fff;  
}

.boton-mas:hover {
    border-bottom: 1px solid #fff;
}

.nav-item {
    position: absolute;
    top: -2px;
    right: 310px;

    padding: 2px 8px;
    
    font-size: 28px;
}

.contenido-switch {
    /* outline: 1px solid red; */
    position: absolute;
    right: 223px;
    /* outline: 1px solid red; */
}

.switch {
    --width-of-switch: 3.5em;
    --height-of-switch: 2em;
    /* Medidas de los iconos -- sun and moon */

    --size-of-icon: 1.4em;
    /* inline-padding del switch(? */
    --slider-offset: 0.3em;

    position: relative;
    top: 10%;

    width: var(--width-of-switch);
    height: var(--height-of-switch);
}

/* Ocultar la casilla de verificacion HTML por defecto */
.switch input {
    width: 0;
    height: 0;
    opacity: 0;
}



/* ---------------------------- Subcategoria: Iframe. ---------------------------------- */
.calendar-box {
    text-align: center;
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: var(--color2);
}

.calendar-content {
    width: 100%;
    height: 100%;
    border: none;
    padding: 7px;
}



/* ---------------------------- Subcategoria:  ---------------------------------- */
.herramienta-pomodoro {
    text-align: center;
}

.nombre-pomodoro {
    border: none;
    border-bottom: 2px solid var(--color2);
    outline: none;
    background: none;
}


/* ---------------------------- Subcategoria: Contenido Responsive ---------------------------------- */
@media (max-width: 575px){
    .contenido-switch { right: 223px; }
}

@media (min-width: 1400px){
    .cabeza-nav-user {
        margin-left: 0;
    }
}

@media (max-width: 450px){
    .label-nav { display: none; }
    .usuario { right: -40px; top: 2px; }
    .contenido-switch { right: 90px; }
    .nav-item { top: -2px; right: 172px; }
}

