@import url(style.css);

/* ----------------------------------- Esitlos Del INDEX-USER ------------------------------------------------------- */



/*
    REGLAS PARA LOS ESTILOS DE CARPE DIEM.

    Selector {
        Posicionamiento, En Este Orden: Primero Position y luego Top, left, right, etc y luego el display.
        Dimensiones, Primero Ancho y luego Alto. Luego los Min y Max.
        Espaciado: Primero Margin y Luego Padding.
        Estilos (Color, Fondo, Borde, Text-Align, Fuente, Opacidad, Etc. Estos si pueden ser en cualquier orden).

        Indice.

        Animacion (Primero Transition, Luego Transform, Luego Animation)
    }

    NOTA: Si hay menos de 5 Propiedades por un selector, NO DEJAR ESPACIO.
          Caso contrario, separar por categorias con un espaciado.
*/



/* ---------------------------- Subcategoria: Nav-bar ---------------------------------- */
.menu-user {
    position: absolute;
    top: 0;
    right: 0;
    display: block;

    width: 45px;

    border-radius: 0px;
}

.user-nav {
    position: relative;
    margin-right: 65px;
}

.icono {
    position: relative;
    top: 1.3px;
    margin-right: 9px;
}
.usuario {
    position: relative;
    top:0;
    max-width: 250px;
}