/* *{outline: auto;} */
/* ----------------------------------------------------- Fuentes de la pagina. -----------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap'); /* font-family: 'Indie Flower', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap'); /* font-family: 'Amatic SC', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Dokdo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dokdo&display=swap');

/* Fuentes de Archivo */
@import url(ZFuentes.css);

 

/* ----------------------------------------------------- Colores ----------------------------------------------------- */
/* -------------- Paleta De Colores Y Box-Sizing. -------------- */
* {
    --color1: #06283D;
    --color2: #1363DF;
    --color3: #47B5FF;
    --color4: #DFF6FF;
    
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* ----------------------------------------------------- Estilos ----------------------------------------------------- */
/* -------------- Body -------------- */
body {
    font-family: 'beacon', cursive;
    /* font-family: 'Berkshire Swash', cursive;

    /* Espacio Vertical entre contenido tipo texto. */
    /* line-height: 50px; */

    /* Espacio horizontal entre letra y letra. */
    letter-spacing: 1px;
    
    /* Fondo De La Pagina. */
    background: linear-gradient(to bottom, var(--color4), var(--color3));
}



/* -------------- Banner Y Barra De Navegacion -------------- */
.titulo-principal, .texto-principal {
    color: var(--color4);
    position: relative;
    top: 45%;
    bottom: 0;

    font-size: 30px;
    padding-left: 25px;
}

.texto-principal {
    padding-top: 0px;
}

.cabeza {
    display: inline-grid;
    grid-template-columns: 60% 1fr;
    width: 100%;

    /* justify-content: end; */
    /* align-items: end; */

    background: linear-gradient(to right, var(--color2), var(--color3));
    /* display: none; */
}

/* Primero establecemos la columnas (arriba), y luego posicionamos cada objeto en una columna distinta. */
.logo-cabeza {
    grid-column: 1;
    /* margin: 10px 0px !important;  */
}

.botones {
    /* grid-column: 3; */
    text-align: right;
    margin: 5px 5px 5px 15px;
}

label {
    /* grid-column: 3; */
    float: left;
    margin: 10px 0; 

}

.banner {

    background-image: url(/imagenes/Graficos/GRAFICO\ 4.png);
    background-repeat: no-repeat;
    background-color: var(--color4);
    background-size: cover;
    height: 90vh;
    
    /* display: none; */
}



/*  -------------- nueva-agendas -------------- */
.nuevas-agendas {
    display: grid;
    margin-top: 10px;
    height: 85vh;
    margin-bottom: 50px;

    /* display: none; */
}
.nuevas-agendas * {
    margin: auto;
    
}
.nuevas-agendas article {
    width: 99%;
}
.herramienta-img img {
    display: block;
}

h3 {
    text-align: center;
    padding-top: 20%;
}

.contenido-herramienta-derecha p, 
.contenido-herramienta-izquierda p {
    text-align: center;
    /* margin-top: 20%; */
}

/* *{outline: auto;} */

.herramienta-uno {
    display: grid;
    grid-template-columns: 50% 2fr;
    grid-template-rows: 1;
    text-align: justify;
    margin-top: 20px;
    background-color: var(--color4);
    border-radius: 35px;
}

.herramienta-img-izquierda {
    position: relative;
    width: 100%;
    height: 100%;

    padding-right: 150px;
    padding-left: 150px;
    padding-top: 138px;

    margin: 0;
    overflow: hidden;

    grid-column: 1;
    grid-row: 1;
}

.contenido-herramienta-derecha {
    grid-column: 2;
    grid-row: 1;
    width: 100%;
    height: 85vh;

    padding-top: 90px;
}

.herramienta-dos {
    grid-row: 2;
    grid-column: 1;
}



/* -------------- Elementos De Logos. -------------- */
.img-logos {
    text-align: center;
}

.imagen {
    margin-right: 30px;
}

.imagen, 
.imagen-dos {
    transition: all 0.4s;
}

.imagen:hover,
.imagen-dos:hover {
    transform: scale(1.2);
    /* width: 78px; */
}


/* -------------- Elementos De Pie De Pagina. -------------- */
a {text-decoration: none;color: var(--color4);}a:active {color: var(--color3);}a:checked{color: var(--color4);}

.pie-de-pagina {
    position: flex;
    width: 100%;
    bottom: 0;
    height: 15vh;
    background-color: var(--color1);
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    margin-top: 25px;
}

.pie-de-pagina * {
    text-align: center;
    
}

.pie-de-pagina li {
    position: relative;
    align-items: center;
    display: inline-block;
    margin-top: 3.4vh;
    margin-right: 10px;
    padding: 5px;
}

.logo {
    padding: 5px;
}



/* ----------------------------------------------------- Contenido Importado. ----------------------------------------------------- */
/* -------------- BOTONES DE USUARIO -------------- */
.unica {

    /* Posicionamiento */
    position:absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    padding: 15px 25px;

    

    /* Borde */
    border: unset;
    border-radius: 35px;

    color: var(--color4);

    /* El z-index es la capa que representa. Entre mas alto, mas al arriba esta (se sobrepone). */
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 15px;

    font-family: 'Indie Flower', cursive;
    letter-spacing: 1px;

    /* Sombra de la caja */
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);

    /* Animacion */
    transition: all 250ms;

    overflow: hidden;
}
   
.unica::before { /* Primer hijo del elemento seleccionado. */

    /* La propiedad "content" genera contenido de forma dinamica. */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 3px;
    background-color: var(--color2);
    z-index: -1;

    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
}
   
.unica:hover {
    color: #e8e8e8;
    /* border-radius: 3px; */
    /* content: "Hola"; */
}

.btn-uno, .btn-dos {
    /* Ancho */
    width: 5%;

    /* Alto */
    height: 95%;
}


/* AGREGAR TEXTO DINAMIACAMENTE. */
#btnPerfil:hover::before {
    content: "Perfil";
    padding-top: 12px;
    /* width: 150%; */
}

#btnMenu:hover::before {
    content: "Menu";
    padding-top: 12px;
    /* width: 150%; */
}

/* MODIFICAR EL TAMAÑO AL MOMENTO DEL HOVER. */
#btnPerfil:hover {
    /* width: 25%; */
    text-align: center;    
}

#btnMenu:hover {
    /* width: 25%; */
    text-align: center;
}

.unica:hover::before {
    width: 100%;
}

/* .btn-usuario-uno {
    margin-right: 20%;
} */



/* -------------- BOTON PARA CAMBIAR ENTRE MODO "NORMAL" Y MODO "OSCURO". -------------- */
.switch {
    --width-of-switch: 3.5em;
    --height-of-switch: 2em;
    /* Medidas de los iconos -- sun and moon */

    --size-of-icon: 1.4em;
    /* inline-padding del switch(? */
    --slider-offset: 0.3em;

    position: relative;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
  }
  
/* Ocultar la casilla de verificacion HTML por defecto */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* el slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f4f4f5;
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: var(--size-of-icon,1.4em);
    width: var(--size-of-icon,1.4em);
    border-radius: 20px;
    left: var(--slider-offset,0.3em);
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(40deg, var(--color2), var(--color3) 70%);
    transition: .4s;
}

input:checked + .slider {
    background-color: #303136;
}

input:checked + .slider:before { /* Checket representa cualquier radio (radio, checkbox y options). */
    left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
    background: #303136;
    /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}

/* Logos laterales de Google y Facebook */