/* Fuentes Temporales */
@font-face
{
    font-family: "bBasicDrawing";
    src: url(./Fuentes/bBasicDrawing.ttf);
}
@font-face {
    font-family: "bBobaPopsicle";
    src: url(./Fuentes/bBobaPopsicle.ttf);
}
@font-face {
    font-family: "Beacon";
    src: url(./Fuentes/Beacon.ttf);
}
@font-face {
    font-family: "Bebold-light";
    src: url(./Fuentes/Bebold-Light.otf);
}
@font-face {
    font-family: "Best Valentina";
    src: url(./Fuentes/Best\ Valentina\ TTF.ttf);
}
@font-face {
    font-family: "Biscuits Story";
    src: url(./Fuentes/Biscuits\ Story.ttf);
}
@font-face {
    font-family: "Cavello";
    src: url(./Fuentes/Cavello.otf);
}
@font-face {
    font-family: "DigitalHandwriting";
    src: url(./Fuentes/DigitalHandwriting-Regular.ttf.otf);
}
@font-face {
    font-family: "Hansip";
    src: url(./Fuentes/Hansip.ttf);
}
@font-face {
    font-family: "Kepolu";
    src: url(./Fuentes/Kepolu.ttf);
}
@font-face {
    font-family: "Mabook";
    src: url(./Fuentes/Mabook.ttf);
}
@font-face {
    font-family: "Saltburg";
    src: url(./Fuentes/Saltburg\ DEMO.otf);
}
@font-face {
    font-family: "Sernes Light";
    src: url(./Fuentes/Sernes-Light.otf);
}
@font-face {
    font-family: "Sernes Light I";
    src: url(./Fuentes/Sernes-LightItalic.otf);
}
@font-face {
    font-family: "Shopia";
    src: url(./Fuentes/Shopia.ttf);
}
@font-face {
    font-family: "Spiritual Lightning";
    src: url(./Fuentes/Spiritual\ Lightning.ttf);
}
@font-face {
    font-family: "The Book Store";
    src: url(./Fuentes/The\ Book\ Store.otf);
}